@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.dividir_secao {
    height: 60px;
    background: linear-gradient(to bottom, #222323, #1c1d1d);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: #222323;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-left: 70px;
    position: sticky;
    top: 0;
    z-index: 03261041;
}

.footer {
    background: #111418;
    color: white;
    padding: 20px 20px;
    text-align: center;
    height: 200px;
}

.footer_conteudo h2 {
    font-size: 24px;
    margin-bottom: 50px;
}

.footer_links {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-bottom: 50px;
}

.footer_links a {
    text-decoration: none;
    color: #2F80FF;
    font-weight: 600;
    transition: 0.3s;
}

.footer_links a:hover {
    color: #d4af37;
}

.footer_baixo {
    font-size: 12px;
    color: #888;
}

.header-esquerda {
    display: flex;
    align-items: center;
    gap: 12px;

}

.logo {
    width: 68px;
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #222323;
}

.conteudo {
    flex: 1;
}

.conteudocadastrologin {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    gap: 40px;
}

.texto_logo {
    font-size: 28px;
    font-weight: 700;
    color: #2F80FF;
    font-family: 'Montserrat', sans-serif;
}

.menuhome {
    display: flex;
    padding-right: 100px;
    gap: 35px;
    padding-left: 30px;
}

.menulogin {
    display: flex;
    padding-right: 199px;
    gap: 35px;
    padding-left: 30px;
}

.menucadastro {
    display: flex;
    padding-right: 220px;
    gap: 35px;
    padding-left: 30px;
}

.menuhome a {
    text-decoration: none;
    color: #2F80FF;
    font-weight: 700;
    font-size: 18px;
    transition: 0.4s;
}

.menulogin a {
    text-decoration: none;
    color: #2F80FF;
    font-weight: 700;
    font-size: 18px;
    transition: 0.4s;
}

.menucadastro a {
    text-decoration: none;
    color: #2F80FF;
    font-weight: 700;
    font-size: 18px;
    transition: 0.4s;
}

.menuhome,
.menucadastro,
.menulogin a:hover {
    color: #F4C542;
}

.header-direita {
    display: flex;
    gap: 15px;
    padding-right: 10px;
}

.botao-login {
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 10px;
    font-weight: 700;
    transition: 0.3s;
}

.botao-login {
    color: white;
    border: 1px solid #ffffff55;
}

.botao-login:hover {
    background: white;
    color: #111418;
}

.botao-cadastro {
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 10px;
    font-weight: 700;
    transition: 0.3s;
}

.botao-cadastro {
    background: #E63946;
    color: white;
}

.botao-cadastro:hover {
    background: #F4C542;
    color: #111418;
}

.principal {
    height: 100vh;
    background-image: url(../assets/imagens/lumiosecity.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fundo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(24, 24, 24, 0.45);
}

.principal_conteudo {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.principal_conteudo h1 {
    font-size: 72px;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 20px;
}

.principal_conteudo p {
    font-size: 22px;
    margin-bottom: 30px;
    line-height: 1.5;
    color: #f1f1f1;
}

.principal_botoes {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.botao_comecar {
    padding: 14px 28px;
    border: 2px solid #e3350d;
    border-radius: 12px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
    display: inline-block;
}

.botao_pokedex {
    padding: 14px 32px;
    background: #0b5fff;
    color: white;
    font-weight: 700;
    text-decoration: none;
    border-radius: 12px;
    transition: 0.3s ease;
    text-align: center;
}

.botao_container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.botao_comecar:hover {
    background: rgba(227, 53, 13, 0.2);
    border: 2px solid #93240b;
    transform: translateY(-3px);
}

.botao_pokedex:hover {
    background-color: #06358b;
    color: #111418;
    transform: translateY(-3px);
}

.sobre {
    padding: 100px;
    background: #222323;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
    padding: 80px;
}

.sobre h2 {
    font-size: 42px;
    color: #0b5fff;
    margin-bottom: 25px;
}

.sobre_texto h2::after {
    content: "";
    display: block;
    width: 70px;
    height: 4px;
    background: #d4af37;
    margin-top: 10px;
}

.sobre p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 20px;
    color: white;
}

.sobre_imagem {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.sobre_imagem img {
    width: 300px;
    border-radius: 18px;
    transition: 0.3s;
}

.sobre_imagem img:hover {
    transform: translateY(-8px);
}

.cards_pokemon {
    padding: 60px 70px;
    background: #222323;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards_pokemon h2 {
    margin-bottom: 100px;
    font-size: 42px;
    text-align: center;
    color: #0b5fff;
}

.grade {
    padding-top: 20px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    align-items: start;
}

.card {
    background-color: #222323;
    border-radius: 16px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px #d4af37;
}

.card img {
    width: 180px;
    height: 180px;
    object-fit: contain;
    margin-bottom: 10px;
}

.card h3 {
    margin: 10px 0 5px;
    font-size: 18px;
    color: white;
}

.card p {
    font-size: 14px;
    opacity: 0.8;
    color: white;
}

.tipo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
    font-size: 14px;
    color: white;
}

.type {
    padding: 4px 10px;
    border-radius: 12px;
    font-weight: 600;
    font-size: 12px;
}

.agua {
    background: rgb(48, 48, 188);
    color: white;
}

.dark {
    background: rgb(55, 53, 53);
    color: white;
}

.fogo {
    background: rgb(207, 40, 40);
    color: white;
}

.voador {
    background: rgb(11, 110, 152);
    color: white;
}

.dragao {
    background: rgb(120, 96, 25);
    color: white;
}

.fada {
    background: pink;
    color: black;
}

.botao_pokedex2 {
    display: block;
    margin-top: 100px;
    padding: 14px 32px;
    background: #0b5fff;
    color: white;
    font-weight: 700;
    text-decoration: none;
    border-radius: 12px;
    transition: 0.3s ease;
    text-align: center;
    align-self: center;
}

.botao_pokedex2:hover {
    background: #06358b;
    transform: translateY(-4px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.4);
}

.ferramentas {
    padding: 100px 70px;
    background: #222323;
    text-align: center;
}

.ferramentas h2 {
    font-size: 42px;
    color: #0b5fff;
    margin-bottom: 10px;
}

.ferramentas p {
    color: #ccc;
    margin-bottom: 50px;
    font-size: 18px;
}

.ferramentas_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.ferramenta_card {
    background: #222323;
    padding: 50px;
    border-radius: 16px;
    color: white;
    transition: 0.3s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.ferramenta_card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px #0b5fff33;
}

.ferramenta_card h3 {
    margin-bottom: 50px;
}

.ferramenta_card p {
    font-size: 14px;
    opacity: 0.8;

}

.finalizacao {
    padding: 120px 70px;
    background: #1c1d1d;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    border-top: 2px solid rgba(255, 255, 255, 0.05);
}

.finalizacao h2 {
    font-size: 52px;
    color: #0b5fff;
    font-weight: 800;
    line-height: 1.2;
}

.finalizacao p {
    font-size: 20px;
    color: #ccc;
    max-width: 700px;
}

.cadastrarse_botao {
    padding: 16px 34px;
    background: #d4af37;
    color: white;
    font-weight: 700;
    text-decoration: none;
    border-radius: 14px;
    transition: 0.3s;
    font-size: 18px;
    margin-top: 50px;
}

.cadastrarse_botao:hover {
    background: #6d5a1c;
    color: rgb(150, 145, 145);
    transform: translateY(-4px);
}

.dividir_secaofinal {
    height: 30px;
    background: #d4af37;
}

.containerimagem {
    border: 2px solid #0b5fff;
    border-radius: 10px;
    width: 500px;
    height: 800px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.containerimagem::after {
    content: "";
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 150px;
    background: #0b5fff;
    filter: blur(70px);
    opacity: 0.8;
}

.texto_imagem {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    font-size: 64px;
    font-weight: 800;
    z-index: 1000;
}

.texto_imagem span {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    font-size: 32px;
    font-weight: 800;
    z-index: 1000;
}

.imagem_questionario {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.containerloginecadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #d4af37;
    border-radius: 10px;
    padding: 40px;
    width: 30%;
}

.containerloginecadastro input {
    width: 300px;
    padding: 12px;
    margin-bottom: 18px;
    background-color: #1c1d1d;
    color: white;
    border: 2px solid #888;
    border-radius: 10px;
    transition: 0.3s;
}

.containerloginecadastro input:focus {
    border-color: #0b5fff;
    box-shadow: 0 0 10px #0b5fff66;
}

.containerloginecadastro span {
    color: white;
    align-self: flex-start;
    padding-left: 36px;
}

.containerloginecadastro select {
    width: 300px;
    padding: 12px;
    background-color: #1c1d1d;
    color: #888;
    border: 2px solid #888;
    border-radius: 10px;
    margin-bottom: 18px;
    transition: 0.3s;
}

.containerloginecadastro select:focus {
    border-color: #0b5fff;
    box-shadow: 0 0 10px #0b5fff66;
}

.botao_cadastrologin {
    padding: 12px 20px;
    border: 2px solid #e3350d;
    color: white;
    border-radius: 10px;
    background-color: transparent;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.botao_cadastrologin:hover {
    transform: translateY(-2px);
}

.titulocadastrologin {
    color: #d4af37;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 70px;
}

.botao_versenha {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: #888;
    font-weight: 600;
    cursor: pointer;
}

.input_senha {
    position: relative;
}
